In [1]:
import numpy as np
import pandas as pd
import math
from tqdm import tqdm

In [2]:
survey_df = pd.read_csv('survey_results_public.csv')

In [3]:
survey_df.head()

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN

In [14]:
survey_df.iloc[4]['DevType']

'Developer, desktop or enterprise applications;Developer, full-stack;Engineer, data;Other (please specify):'

In [4]:
survey_df.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'Country', 'US_State',
       'UK_Country', 'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'Currency', 'CompTotal',
       'CompFreq', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [31]:
year_list = [
    'YearsCode',
       'YearsCodePro'
]

# wrangling algorithm

In [35]:
df = pd.DataFrame(columns=dev_list)
# for i in tqdm(range(survey_df.shape[0])):
whole = []
for i in tqdm(range(survey_df.shape[0])):
    row = survey_df.iloc[i]
    if not isinstance(row['DevType'],str):
        continue
    row_dev_list = row['DevType'].split(';')

    while row_dev_list:
        pd_row = [row['ResponseId']]
        dev = row_dev_list.pop()
        pd_row.append(dev)
        for e in year_list:
            if not isinstance(row[e],str):
                pd_row.append('null')
            else:
                pd_row.append(row[e])
        if not math.isnan(row['ConvertedCompYearly']):
            pd_row.append(str(int(row['ConvertedCompYearly'])))
        else:
            pd_row.append('null')
        whole.append(pd_row)

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████| 83439/83439 [00:23<00:00, 3526.54it/s]

In [38]:
whole[0]

[1, 'Developer, mobile', 'null', 'null', '62268']

# add to dataframe

In [39]:
total_list = []
for row in whole:
    dict_temp = {'ResponseId':row[0],'Job':row[1],'Year':row[2],'YearPro':row[3],'Salary':row[4]}
    total_list.append(dict_temp)

In [40]:
df = pd.DataFrame(total_list)

In [41]:
df.head()

   ResponseId                      Job  Year YearPro Salary
0           1        Developer, mobile  null    null  62268
1           4     Developer, front-end  null    null   null
2           5  Other (please specify):    17      10   null
3           5           Engineer, data    17      10   null
4           5    Developer, full-stack    17      10   null

In [42]:
df.shape

(174082, 5)

In [43]:
df.to_csv('survey_dev.csv',index=False)