In [88]:
import numpy as np
import pandas as pd
import math
from tqdm import tqdm

In [3]:
survey_df = pd.read_csv('survey_results_public.csv')

In [5]:
survey_df.head()

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN

In [7]:
survey_df.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'Country', 'US_State',
       'UK_Country', 'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'Currency', 'CompTotal',
       'CompFreq', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [8]:
tech_list = ['LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys']

In [90]:
survey_df.shape[0]

83439

# wrangling algorithm, not good, have revised it in the next notebook

In [94]:
df = pd.DataFrame(columns=(['respondent'] + tech_list))
for i in tqdm(range(survey_df.shape[0])):
    row = survey_df.iloc[i]
    row_tech_list = []
    for tech in tech_list:
        if isinstance(row[tech],str):
            row_tech_list.append(row[tech].split(';'))
        else:
            row_tech_list.append([])

    while row_tech_list != [[]] * len(row_tech_list):
        pd_row = [row['ResponseId']]
        for tl in row_tech_list:
            if tl:
                tech = tl.pop()
                pd_row.append(tech)
            else:
                pd_row.append('null')
    #     print(pd_row)
        dict_temp = dict()
        for i,col in enumerate(['respondent'] + tech_list):
            dict_temp[col] = pd_row[i]
    #     print(dict_temp)
        df = df.append(dict_temp, ignore_index=True)

100%|████████████████████████████████████████████████████████████████████████████████████████████████████| 83439/83439 [23:45:01<00:00,  1.02s/it]

In [95]:
df.shape

(532298, 16)

In [96]:
df.head(20)

,respondent,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys
0,1,Swift,Swift,SQLite,SQLite,null,null,Symfony,null,null,null,null,null,Xcode,Xcode,MacOS
1,1,PHP,null,PostgreSQL,null,null,null,Laravel,null,null,null,null,null,PHPStorm,Atom,null
2,1,Objective-C,null,null,null,null,null,null,null,null,null,null,null,null,null,null
3,1,JavaScript,null,null,null,null,null,null,null,null,null,null,null,null,null,null
4,1,HTML/CSS,null,null,null,null,null,null,null,null,null,null,null,null,null,null
5,1,C++,null,null,null,null,null,null,null,null,null,null,null,null,null,null
6,2,Python,null,PostgreSQL,null,null,null,Vue.js,null,Cordova,null,Yarn,Git,PyCharm,null,Windows
7,2,JavaScript,null,null,null,null,null,Flask,null,null,null,Git,null,Notepad++,null,null
8,2,null,null,null,null,null,null,Angular,null,null,null,Docker,null,IntelliJ,null,null
9,2,null,null,null,null,null,null,null,null,null,null,null,null,Android Studio,null,null
10,3,Rust,Rust,SQLite,SQLite,Heroku,null,Flask,Flask,Torch/PyTorch,Torch/PyTorch,null,null,Visual Studio Code,Visual Studio Code,MacOS
11,3,R,Python,null,null,null,null,null,null,TensorFlow,TensorFlow,null,null,Sublime Text,Sublime Text,null
12,3,Python,Julia,null,null,null,null,null,null,Pandas,Pandas,null,null,RStudio,RStudio,null
13,3,C,null,null,null,null,null,null,null,NumPy,NumPy,null,null,PyCharm,IPython/Jupyter,null
14,3,Assembly,null,null,null,null,null,null,null,null,Keras,null,null,IPython/Jupyter,null,null
15,4,TypeScript,TypeScript,null,null,null,null,jQuery,jQuery,null,null,null,null,null,null,Windows
16,4,JavaScript,JavaScript,null,null,null,null,Angular,Angular,null,null,null,null,null,null,null
17,5,SQL,SQL,Redis,Redis,null,null,Flask,Flask,Pandas,Pandas,Yarn,Yarn,Vim,Visual Studio Code,Linux-based
18,5,Python,Python,PostgreSQL,PostgreSQL,null,null,null,null,NumPy,NumPy,Kubernetes,Kubernetes,PyCharm,Vim,null
19,5,HTML/CSS,HTML/CSS,Elasticsearch,Elasticsearch,null,null,null,null,Hadoop,Hadoop,Git,Git,Notepad++,PyCharm,null

In [97]:
df.to_csv('survey_techs.csv',index=False)